<!--メインビジュアルページ-->
<section class="relative overflow-hidden">
  <div style="background-image: url(<%= asset_path 'main-image.png' %>)"
     class="relative bg-cover bg-center min-h-screen">
     <div class="absolute inset-0 bg-amber-100/70"></div>
      <div class="relative max-w-6xl mx-auto px-6 py-16">

        <div class="max-w-2xl">
          <h1 class="text-4xl md:text-5xl font-bold leading-tight text-gray-900">
            あなたの<span class="text-orange-500">「名作」</span><br>
            教えてくれませんか？
          </h1>

          <p class="mt-6 text-gray-700">
            アニメの感想を記録して<br>
            次の「見たい」を生み出そう
          </p>

          <div class="flex mt-8 gap-4">
            <%= link_to "今すぐ始める", new_user_path, class: "text-white bg-orange-500 px-6 py-3 rounded-lg shadow-lg hover:bg-orange-600" %>
            <%= link_to "投稿を見る", posts_path, class: "border border-gray-400 px-6 py-3 rounded-lg shadow-lg bg-amber-200" %>
          </div>
        </div>

        <section class="mt-16 p-8 bg-white/90 backdrop-blur rounded-3xl shadow-xl">
          <h2 class="text-xl font-bold mb-6 text-center">
            アニメの記録をもっと簡単に
          </h2>

          <div class="grid md:grid-cols-3 gap-6 text-center">
            <div class="flex items-start text-left">
              <div class="mx-auto w-14 h-14 flex items-center justify-center bg-orange-100 rounded-full">
                <%= heroicon "pencil-square", options: { class: "w-8 h-8 text-orange-500" } %>
              </div>
              <div>
              <h3 class="font-semibold text-lg mt-4">愛を語る</h3>
              <p class="text-gray-600 text-sm">作品情報は自動取得</p>
              </div>
            </div>

            <div class="flex items-start gap-4 text-left">
              <div class="mx-auto w-14 h-14 flex items-center justify-center bg-orange-100 rounded-full">
                <%= heroicon "fire", variant: :outline, options: { class: "w-8 h-8 text-orange-500" } %>
              </div>
              <div>
                <h3 class="font-semibold text-lg mt-4">熱量で出会う</h3>
                <p class="text-gray-600 text-sm">見たい」で作品発見</p>
              </div>
            </div>

            <div class="flex items-start gap-4 text-left">
              <div class="mx-auto w-14 h-14 flex items-center justify-center bg-orange-100 rounded-full">
                <%= heroicon "eye", variant: :outline, options: { class: "w-8 h-8 text-orange-500" } %>
              </div>
              <div>
                <h3 class="font-semibold text-lg mt-4">一瞬で「みた！」</h3>
                <p class="text-gray-600 text-sm">直感的に記録</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>