<!--メインビジュアルページ-->
<section class="relative overflow-hidden">
  <div style="background-image: url(<%= asset_path 'main-image.png' %>)"
     class="relative min-h-screen md:bg-cover md:bg-center" style="background-image: none;">
     <div class="absolute inset-0 bg-white/40"></div>
      <div class="relative max-w-6xl mx-auto px-6 py-16">

        <div class="max-w-2xl">
          <h1 class="text-4xl md:text-5xl font-bold leading-tight text-gray-900">
            あなたの<span class="text-orange-500">「名作」</span><br>
            教えてくれませんか？
          </h1>

          <p class="mt-6 text-lg text-gray-700 leading-relaxed">
            観たアニメを記録して<br>
            あなたの<span class="text-orange-500">「名作リスト」</span>を作ろう
          </p>

          <div class="flex mt-8 gap-4">
            <%= link_to "無料で記録を始める", posts_path, class: "text-white bg-orange-500 px-8 py-4 rounded-xl text-lg font-semibold shadow-lg hover:bg-orange-600 transition" %>
          </div>
        </div>

        <section class="mt-16">
          <h2 class="text-2xl font-bold mb-10 text-center">
            たった3ステップで、アニメを記録
          </h2>

          <div class="grid md:grid-cols-3 gap-8">

            <div class="bg-white border-3 border-orange-100 rounded-2xl shadow-md p-6 text-center h-full hover:shadow-xl transition">
              <div class="mx-auto w-16 h-16 flex items-center justify-center bg-orange-100 rounded-full mb-4">
                <%= heroicon "pencil-square", options: { class: "w-8 h-8 text-orange-500" } %>
              </div>
              <h3 class="font-semibold text-lg">作品タイトルは自動取得</h3>
              <p class="text-gray-600 text-sm">記録したいアニメタイトル<br>「名前が長すぎて何だっけ？」を解決</p>
            </div>

            <div class="bg-white border-3 border-orange-100 rounded-2xl shadow-md p-6 text-center h-full hover:shadow-xl transition">
              <div class="mx-auto w-16 h-16 flex items-center justify-center bg-orange-100 rounded-full mb-4">
                <%= heroicon "fire", variant: :outline, options: { class: "w-8 h-8 text-orange-500" } %>
              </div>
              <h3 class="font-semibold text-lg">作品に対する熱量を伝えよう</h3>
              <p class="text-gray-600 text-sm">気になる作品は「みたい」ボタンで<br>簡単に管理できます</p>
            </div>

            <div class="bg-white border-3 border-orange-100 rounded-2xl shadow-md p-6 text-center h-full hover:shadow-xl transition">
              <div class="mx-auto w-16 h-16 flex items-center justify-center bg-orange-100 rounded-full mb-4">
                <%= heroicon "eye", variant: :outline, options: { class: "w-8 h-8 text-orange-500" } %>
              </div>
              <h3 class="font-semibold text-lg">作品を見たら、一瞬で「みた！」</h3>
              <p class="text-gray-600 text-sm">直感的に記録、感想を書くことができます</p>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</section>