<div class="bg-white rounded-lg shadow-md p-6 border border-gray-200">
  <% show_comments = local_assigns.fetch(:show_comments, false) %>
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-xl font-bold mb-2">
      <%= link_to post.title, post_path(post), class: "hover:text-blue-600" %>
    </h2>
    <%= render_action_button(post) %>
  </div>
  <% is_detail = local_assigns.fetch(:is_detail, false) %>
  <% image_class = is_detail ? "w-full max-h-96 object-contain" : "w-full h-40 object-cover" %>

  <div class="bg-white rounded">
    <% if post.image_url.present? %>
      <img src="<%= post.image_url %>" class="<%= image_class %>">
    <% else %>
      <div class="<%= is_detail ? 'h-64' : 'h-40' %> bg-gray-200 flex items-center justify-center">No Image</div>
    <% end %>
    <p class="text-sm text-gray-500 mb-3 mt-1">投稿者：
      <%= link_to post.user&.name || "名無しさん", user_path(post.user), class: "hover:text-blue-600" %>
    </p>

    <div class="flex items-center gap-2 mb-4 text-sm text-gray-700">
      <span class="font-medium"><%= post.status_i18n %></span>
      <% if post.watched? %>
        <span>|</span>
        <span><%= render_stars(post.rating) %></span>
      <% end %>
    </div>

    <div class="text-gray-600 mb-6 <%= 'line-clamp-3' unless is_detail %>">
      <%= post.content %>
    </div>

    <% if post.comments.any? %>
      <div class="text-gray-500 flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
        </svg>
        <p><%= post.comments.count %></p>
      </div>
    <% end %>


  <% if show_comments %><!--false or true-->
    <% post.comments.each do |comment| %>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  <% end %>
  </div>
</div>