<nav class="bg-white border-b border-gray-200">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">

      <div>
      <%= link_to "AniRemind", root_path, class: "text-2xl font-bold italic text-gray-800" %>
      </div>

      <div class="flex items-center space-x-6">
        <!-- #ログイン判定 -->
        <% if logged_in? %>
          <!-- #部分は新規投稿ページを作成したら編集する -->
          <%= link_to "新規投稿", "#", class: "text-gray-600 hover:text-gray-900 font-medium" %>
          <!-- #部分は投稿一覧ページを作成したら編集する -->
          <%= link_to "投稿一覧", "#", class: "text-gray-600 hover:text-gray-900 font-medium" %>
          <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "text-gray-600 hover:text-gray-900 font-medium" %>

          <div class="flex items-center space-x-2 border-l pl-6 ml-2">
            <div class="w-8 h-8 flex items-center justify-content border-gray-500 text-white rounded-full text-xs">
              <%= current_user.email_address[0].upcase %>
            </div>
            <span class="text-gray-800 font-medium text-sm">
              <%= current_user.try(:name).presence || current_user.email_address.split('@').first %> さん
            </span>
          </div>

        <% else %>
          <!-- #部分は投稿一覧ページを作成したら編集する -->
          <%= link_to "投稿一覧", "#", class: "text-gray-600 hover:text-gray-900 font-medium" %>
          <%= link_to "新規登録", new_user_path, class: "text-gray-600 hover:text-gray-900 font-medium" %>
          <%= link_to "ログイン", login_path, class: "text-gray-600 hover:text-gray-900 font-medium" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>